<body>
    <div id="container">
      <header id="masthead">
        <div id="masthead-content">
          <img alt="Cisco Meraki" width="50" src="https://www.gruposalinas.com/Content/iconos/LogoGS-main.svg" />
        </div>
      </header>
      <div id="content" role="main">
        <div id="login-box" class="clearfix">
          <h1>Welcome!</h1>
          <div id="login_form" class="formarea shortform clearfix">              
        </div>
      </div>
      <div id="promo-box" class="column">
        <a href="https://www.totalplay.com.mx/">
          <div classname="promo-item secure_connect">
            <video loading="lazy" type="video/mp4"  autoplay="" muted="" loop="" controls="false" playsinline="" src="https://www.totalplay.com.mx/assets/media/videoBannerAppsMp4.mp4" width="605"></video>
          </div>
        </a>
      </div>
    </div>
      <footer id='footer'>
        <div id='footerLeft'>
          <div id='copyright'>
            <a class='DashboardLoginPage__footerLink' href='https://www.totalplay.com.mx/terms'>Terms</a>
            <a class='DashboardLoginPage__footerLink' href='https://www.totalplay.com.mx/avisodeprivacidad'>Privacy</a>
            <span>&copy; Total Play Telecomunicaciones S.A.P.I. de C.V. 2023</span>
          </div>
        </div>
        <div id='footerRight'></div>
      </footer>
    </div>
  </body>